body{
    background-color: black;
}

#squareOut{
    width: 200px;
    height: 200px;
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
   
    

}

#squareIn{
    width: 100px;
    height: 100px;
    background-color: aqua; 
    animation-name: movesquareOut;
    animation-duration: 5s;
    animation-iteration-count: infinite;
     
}

@keyframes movesquareOut{
    0%{transform: translate(0px, 0px);}
    16.6%{transform:translate(-50px, 0px);}
    33.2%{transform:translate(50px, 0px);}
    49.8%{transform:translate(0px, -50px);}
    66.4%{transform:translate(0px, 50px);}
    83%{transform:translate(-50px, 0px);}
    100%{transform:translate(0px, -50px);}
}