body{
    background-image: url(./streetfighterimg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}



#fight{
    height: 96vh;
    width: auto;
    margin-left: 100px; 
}


