body{
    background-color: black;
}

@keyframes colorChange {
    0%{color: aqua; font-size: 0%;}
    100%{color: aqua; text-shadow: 10px 10px 40px aqua;}
     
}

#colorChange {
    margin-top: 200px;
    font-size: 300%;
    text-align: center;
    animation-iteration-count: infinite;
    animation-name: colorChange;
    animation-duration: 4s;
    text-decoration-style: solid;
    font-weight: bold;

}